* {
    font-family: 'Roboto Mono', monospace;
}
.calculator {
    width: 600px;   
    margin: auto;
    border: 2px solid rgb(0, 137, 172);
    border-radius: 1%;
    background-color: rgb(245, 245, 245);
}

.row {
    width: 592px;
    margin: auto;
    height: 80px;
}

.row-short {
    height: 60px;
}

.btn {
    height: 70px;
    font-weight: 500;
    font-size: 1.3rem;
}

.btn:disabled {
    opacity: 0.4;
}

.form-control:read-only {
    background-color: inherit;
}

.error::placeholder {
    color: rgb(228, 102, 102);
}

.form-control {
    height: 70px;
    font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
    .calculator {
        width: 100%;
        margin: 0;
    }
    .row {
        width: 100%;
        margin: 0;
    }
}
